.GalleryItem {
    width: calc((100% - 72px) / 4);
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.GalleryItem_image {
    min-height: calc (100%-50px);
    width: 100%;
    object-fit: cover;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.GalleryItem_image:hover {
    transform: scale(1.03);
    cursor: zoom-in;
}
.movieTitle {
    display: block;
        color: #5c5d5e;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }