.footer{
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 100%;
    
}
.text{
    margin: 0;
}